<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/mscat03?mibextid=kFxxJD"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/ms_cat_03?igsh=OWk3dzhtMWt2eW9m"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://x.com/AnkitaN19599770?t=cUqfRvzHmUaWgSirIWFnFQ&s=08"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.linkedin.com/in/ankita-nath-6ab5a121b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>      
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>