<footer class="bg-light py-4">
  <div class="container">
    <div class="row justify-content-center text-center">
      <!-- Social Media Icons -->
      <div class="col-12 f-info-socials mb-3">
        <a href="https://www.facebook.com/mscat03?mibextid=kFxxJD" class="mx-2"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/ms_cat_03?igsh=OWk3dzhtMWt2eW9m" class="mx-2"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/AnkitaN19599770?t=cUqfRvzHmUaWgSirIWFnFQ&s=08" class="mx-2"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/in/ankita-nath-6ab5a121b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="mx-2"><i class="fa-brands fa-linkedin"></i></a>
      </div>

      <!-- Brand Information -->
      <div class="col-12 f-info-brand mb-3">
        &copy; 2024 Indian Museum Kolkata - All Rights Reserved
      </div>
      <!-- Privacy and Terms Links -->
      <div class="col-12 f-info-links">
        <a href="/privacy" class="mx-2">Privacy</a>
        <a href="/terms" class="mx-2">Terms</a>
      </div>
    </div>
  </div>
</footer>