<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="/logonew.jpg" alt="Logo" width="45" height="45" style="border-radius: 10px;">

    </a>
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link logo" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Create-New</a>
        <% if(!currUser){%>
          <a class="nav-link" href="/login"><b id="highlight-text">Log In</b></a>
          <a class="nav-link" href="/signup"><b id="highlight-text">Sign Up</b></a>
        <%}%>
        <% if(currUser){%>
          <a class="nav-link" href="/logout"><b id="highlight-text">Log Out</b></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
