<% layout("/layouts/boilerplate") -%>
<div class="row">
  <h1 class="col-6 offset-3">SignUp Form </h1>
  <div class="col-8 offset-2">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
          <input name="username" id="username" placeholder="username" type="text" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a valid username
          </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
          <input name="email" id="email" placeholder="email" type="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
          <input name="password" id="password" placeholder="password" type="password" class="form-control" required>
      </div>
      <button class="btn btn-success">SignUp</button>

    </form>
  </div>
</div>